@page
@model TicTacToe.Pages.GamePageModel
@{
    ViewData["Title"] = "Play Tic Tac Toe";
}

<div id="board">
    <div class="row">
        <div class="square" id="square-0-0"></div>
        <div class="square" id="square-1-0"></div>
        <div class="square" id="square-2-0"></div>
    </div>
    <div class="row">
        <div class="square" id="square-0-1"></div>
        <div class="square" id="square-1-1"></div>
        <div class="square" id="square-2-1"></div>
    </div>
    <div class="row">
        <div class="square" id="square-0-2"></div>
        <div class="square" id="square-1-2"></div>
        <div class="square" id="square-2-2"</div>
    </div>
</div>
<p id="LobbyIdVal"></p>
<p id="TeamVal"></p>
<button id="endBtn" class="btn btn-primary">End</button>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/gamepage.js"></script>



