*{
    box-sizing:border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.square{
    width:100px;
    height:100px;
    border:1px black solid;
    background-color:aqua;
}

.square:hover{
    background-color:dodgerblue;
}

.row{
    display:flex;
    flex-direction:row;
}

#board{
    display:none;
}